:root {
    --red:#f00;
    --green:#8f8;
    --blue:#88f;
}

td {vertical-align: middle}

.firstslide {  text-align:center; vertical-align: middle; font-size:larger; }

h1 {  color: var(--green);  }
h2 {  color: var(--blue);  }
h3 {  color: var(--green);  }

.red   { color: var(--red); }
.green { color: var(--green); }
.blue  { color: var(--blue); }
.italic { text-style: italic; }

a.secret {color:black; font-size:small}
a.secret:hover {color:yellow}

.smallfloat {float:left; width:200px}
.largefloat {float:left; width:250px}

.smaller {font-size:smaller}
.small {font-size:small}

.imagecredit {font-size:small}

/*
.slide {
    height: 800px;
    overflow-y: auto !important;
}
*/

/* See https://github.com/hakimel/reveal.js/issues/16
   and  https://stackoverflow.com/questions/35237862/best-way-to-handle-overflowing-reveal-js-slide
*/
.scrollable {
    width: 100%;
    height: 600px;
    overflow-y: auto !important;
}

iframe { border: none; }  /* An embedded video */
iframe.quarter, img.quarter { height:250px;  width:500px; }  /* An embedded video that takes about a quarter of a slide. */
iframe.half {height:400px; width:1000px;}
iframe.whole {height:800px; width:1000px;}